<!-- Footer -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline">
          <li>
            <a href="#home">Home</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#services">Shopper</a>
          </li>
          <!--<li class="footer-menu-divider">&sdot;</li>
           <li>
            <a href="#customer">Retailer</a>
          </li> -->

          <li class="footer-menu-divider">&sdot;</li>
          <!-- <li>
                        <a href="#contact">Contact</a>
                    </li> -->
        </ul>
        <p class="copyright text-muted small">{{ site.copyright }}</p>
      </div>
      <!-- <div class="col-md-4">
                {{ site.credits }}
            </div> -->
      <div class="col-md-4">
        <ul class="list-inline banner-social-buttons">
          <li>
            <a
              href="https://play.google.com/store/apps/details?id=com.quickcheckout_app&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
              ><img
                alt="Get it on Google Play"
                src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"
                width="300"
                height="125"
             /></a>
          </li>
          <li>
            <img
              src="/img/ios-app.png"
              width="250"
              height="75"
            />
            <p style="color: #fe53bb">COMING SOON</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
