<!-- Footer -->
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="list-inline">
          <li>
            <a href="#home">Home</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#customer">Shopper</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <!-- <li>
            <a href="#customer">Retailer</a>
          </li> -->

          <li class="footer-menu-divider">&sdot;</li>
          <!-- <li>
                        <a href="#contact">Contact</a>
                    </li> -->
        </ul>
        <p class="copyright text-muted small">{{ site.copyright }}</p>
      </div>
      <!-- <div class="col-md-4">
                {{ site.credits }}
            </div> -->
      <div class="col-md-4">
        <ul class="list-inline banner-social-buttons">
          <li>
            <a
              target="_blank"
              href="https://play.google.com/store/apps/details?id=com.quickcheckout_app"
            >
              <img
                style="float: right; margin-top: 0px; margin-bottom: 5px;"
                src="/img/google-app.png"
              />
            </a>
          </li>
          <li>
            <img
              style="float: right; margin-top: 0px; margin-bottom: 5px;"
              src="/img/ios-app.png"
              width="250" height="75    "
            />
            <p style="color: #fe53bb;">COMING SOON</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
