<section id="qcdownload">
	<div class="download">
		<div class="container">
		</div>
	</div>
	<div class="download1">
		<div class="container">

			<div class="row">
				<div class="col-lg-6">
					<h2 style="padding: 50px 0;">Download QuickCheckout</h2>
				</div>
				<div class="col-lg-6">
					<ul class="list-inline banner-social-buttons">						
						<li>								
								<br><a target="_blank" href="https://play.google.com/store/apps/details?id=com.quickcheckout_app">
								  <img style="float: center; margin-top: 15px; margin-bottom: 5px;" src="/img/google-app.png">
								  </a>
						</li>
						
					</ul>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<div class="download2">
		<div class="container">
		</div>
	</div>

</section>
<!-- /.banner -->